<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <h2>StringHash</h2>
    <p>This program provides the following endpoints:</p>
    <ul>
        <li>/ - returns this page</li>
        <li>/hash - returns a base64-encoded SHA512 hash of the cleartext in the "password" variable</li>
        <li>/shutdown - cleanly shuts down the application</li>
        <li>/stats - returns a statistics page containing the number of passwords hashed and the
            average time to process each hash (in ms) as a JSON object</li>
    </ul>
</body>
</html>